apache-airflow==2.6.3
airflow-dbt==0.4.0
airflow-dbt-python==1.0.5
numpy==1.24.4
Flask-OAuthlib==0.9.4 
Flask-OIDC==2.1.0 
apache-airflow-providers-databricks==4.3.0
apache-airflow-providers-github==2.3.1
apache-airflow-providers-jdbc==4.0.0
apache-airflow-providers-atlassian-jira==2.1.1
apache-airflow-providers-salesforce==5.4.1
snowflake-connector-python==3.0.4
apache-airflow-providers-snowflake==4.2.0
apache-airflow-providers-dbt-cloud==3.2.1
apache-airflow-providers-cncf-kubernetes==7.1.0
dbt-core==1.7.0rc1
dbt-snowflake==1.7.0rc1
snowflake-snowpark-python==1.5.1
snowflake-sqlalchemy==1.4.7
dbt-semantic-interfaces==0.3.0
dbt-extractor==0.5.0
elementary-data[snowflake]
agate==1.7.1 
packaging>20.9
pyparsing>=2.0.2,<3
logbook==1.5.3
protobuf==4.25.3