include config/walmart_config/config.yml
include config/walmart_config/omni_sales.yml
include config/walmart_config/item_attributes.yml
include config/walmart_config/omni_sales_new.yml
include config/walmart_config/store_dimensions.yml
include config/walmart_config/product_dimensions.yml
include config/amc_config/config.yml
include config/amc_config/campaign_LTV.yml
include config/amc_config/overlap_ads.yml
include config/amc_config/path_to_purchase.yml
include config/amc_config/sns.yml
include config/amazon_ads_config/config.yml
include config/amazon_ads_config/sbAdGroup.yml
include config/amazon_ads_config/sbAds.yml
include config/amazon_ads_config/sbCampaigns.yml
include config/amazon_ads_config/sbPurchasedProduct.yml
include config/amazon_ads_config/spAdvertisedProduct.yml
include config/amazon_ads_config/spCampaigns.yml
include config/amazon_ads_config/spPurchasedProduct.yml
include config/amazon_ads_config/spTargeting.yml 
include config/amazon_ads_config/sbTargeting.yml 
include config/amazon_ads_config/sbPlacement.yml
include config/avc/common_config.yaml
include config/avc/hero_mapping.yaml
include config/avc/sp_catalog.yaml
include config/avc/sp_coupon_performance.yaml
include config/avc/sp_inventory.yaml
include config/avc/sp_inventory_weekly.yaml
include config/avc/sp_market_basket.yaml
include config/avc/sp_net_ppm.yaml
include config/avc/sp_promotion_performance.yaml
include config/avc/sp_repeat_purchase.yaml
include config/avc/sp_sales.yaml
include config/avc/sp_search_terms.yaml
include config/avc/sp_traffic.yaml
